<!-- your html code here -->
<div class="first-heading-section" style=" 
    background-color: white;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -120px;">
    <div class="card border-light card-heading-section" style="background-color: transparent;">
        <div class="card-body">
            <div class="row row-cols-2" style="    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;">
                <div class="col-5">
                    <h1 class="card-title">This First Heading <span class="text-muted"> Will Catch Your Eye </span></h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium perspiciatis voluptatum odit expedita totam, aliquid temporibus accusantium voluptatem repellat natus illo harum laboriosam officiis omnis voluptatibus quisquam alias aliquam rem?</p>
                </div>
                <div class="col-6">
                    <img style="float: right; border-radius: 100pc;width: 30vw;"  src="/website/assets/img/1.jpg" alt=""/>
                </div>
            </div>
        </div>
      </div>

