<!-- your html code here -->
<!--Jhojan Perez-->

<div class="container d-flex my-5">
    <img class="rounded-circle" src="https://th.bing.com/th/id/OIP.Tqa8NfV-Nk2GDQ7JyKCYUAHaE8?rs=1&pid=ImgDetMain" alt="" width="300px" height="300px">
    <div class="text mx-5">
        <h1><strong>The Second Heading</strong><span class="text-secondary"> Is Pretty Cool too.</span></h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere quia harum ipsam temporibus quae aut minus modi, earum impedit laborum quibusdam voluptate ullam assumenda dicta possimus laudantium dolore, nostrum molestias!</p>
     </div>
</div>